body {
    font-family: sans-serif;
}

/* BEGINNING OF NAV */
.title {
    display: inline-block;
    top: 0;
    left: 40px;
    position: fixed;
    color: red;
}

.nav {
    display: block;
    z-index: 100;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    width: 80%;
    right: 0;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
}

/* BEGIN OF SEARCH */
#search {
    display: block;
    margin-top: 70px;
    top: 0;
    left: 15px;
    position: fixed;

}

#search input[type="text"] {
    background: 10px 6px #444;
    border: 0 none;
    font: 12px Arial,Helvetica,Sans-serif;
    color: #fff;
    width: 150px;
    padding: 6px 15px 6px 35px;
    border-radius: 5px;
/*  -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
*/
    }

/*
#search input[type="text"]:focus {
    width: 200px;
    }
*/
/* END OF SEARCH */

.social-media {
    width: 150px;
    height: 100px;
    font-size: 25px;
    margin-top: 70px;
    position: fixed;
    top: 0;
    right: 0;
}

i {
    color: gray;
}

/* END OF NAV */


.mainCarousel {
    width: 95%;
    display: block;
    margin: 0 auto;
    padding-top: 110px
}

.mainCarousel .slick-arrow::before {
    color: black;
}

.slick-dots {
    background-color: white;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.mainCarousel img {
    width: 100%;
    height: 300px;
}

.smallCarousel img {
    width: 100%;
    height: 200px;
}

.smallCarousel {
    width: 40%;
    height: 200px;
    display: inline-block;
    right: -80px;

}

.slick-prev.slick-arrow::before {
    color: black;
}

.slick-next.slick-arrow::before {
    color: black;
}

.signUp {
    background-color: red;
    color: white;
    padding: 15px;
    width: 100px;
    text-align: center;
    right: 550px;
    top: 130px;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

.press {
    width: 50%;
    height: 200px;
    display: inline-block;
    padding-left: 15px;
}